/* src/components/CollectorsResponse.css */

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px 24px 16px 0;
    float: left;
  }
  
  .site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
  }
  
  .actions {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px;

  }
  
  .ant-btn {
    margin-right: 10px;
  }
  
  .ant-input-affix-wrapper {
    width: 300px;
  }
  